:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

html.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s ease;

}


.Geral{
    position: relative !important;
    z-index: 999999 !important;
}
.sidebar-esquerda {
    position: absolute;
    z-index: 1; /* menor valor = fica atr치s */
    top: 0;
    left: 0;              /* mudou para esquerda */
    width: 120px;         /* largura da coluna */
    height: 230vh;        /* 100% da altura da tela */
    margin-right: 22vw;
    background-color: #212529; /* navbar dark */
    padding: 20px;
    overflow-y: auto;     /* rolagem se tiver muitos itens */
    
}

@media (max-width: 768px) {
    .sidebar-esquerda {
    position: absolute;
    z-index: 1; /* menor valor = fica atr치s */
    top: 0;
    left: 0;              /* mudou para esquerda */
    width: 90px;         /* largura da coluna */
    height: 300vh;        /* 100% da altura da tela */
    margin-right: 22vw;
    background-color: #212529; /* navbar dark */
    padding: 20px;
    overflow-y: auto;     /* rolagem se tiver muitos itens */
    }
}

@media (max-width: 980px) {
    .sidebar-esquerda {
    position: absolute;
    z-index: 1; /* menor valor = fica atr치s */
    top: 0;
    left: 0;              /* mudou para esquerda */
    width: 90px;         /* largura da coluna */
    height: 310vh;        /* 100% da altura da tela */
    margin-right: 22vw;
    background-color: #212529; /* navbar dark */
    padding: 20px;
    overflow-y: auto;     /* rolagem se tiver muitos itens */
    }
}

.video-container {
    position: absolute;
    width: 50vw;
    top: 20vh;
    right: 20vw; /* left, bottom se quiser mudar */
    margin: 0 0 2rem 0;
    
}
@media (max-width: 480px) {
    .video-container {
    width: 70vw;
    position: absolute;
    top: 20vh;
    right: 7vw; /* left, bottom se quiser mudar */
    margin: 0 0 2rem 0;
    }
}

@media (max-width: 768px) {
    .video-container {
    width: 70vw;
    position: absolute;
    top: 20vh;
    right: 7vw; /* left, bottom se quiser mudar */
    margin: 0 0 2rem 0;
    }
}

@media (max-width: 1024px) { 
    .video-container {
    width: 70vw;
    position: absolute;
    top: 20vh;
    right: 8vw; /* left, bottom se quiser mudar */
    margin: 0 0 2rem 0;
    }
 }

 @media (min-width: 1024px) and (max-width: 1366px) { 
    .video-container {
    width: 70vw;
    position: absolute;
    top: 20vh;
    right: 12vw; /* left, bottom se quiser mudar */
    margin: 0 0 2rem 0;
    }
  }

  @media (min-width: 1366px) and (max-width: 1920px) { 
    .video-container {
    width: 900px;
    position: absolute;
    top: 20vh;
    right: 15vw; /* left, bottom se quiser mudar */
    }
   }
@media (min-width: 1920px) and (max-width: 2560px) { 
    .video-container {
    width: 1000px;
    position: absolute;
    top: 20vh;
    right: 18vw; /* left, bottom se quiser mudar */
    } 
   }

@media (min-width: 1780px){
    .video-container {
    width: 950px;
    position: absolute;
    top: 20vh;
    right: 20vw; /* left, bottom se quiser mudar */
    } 
   }

@media (min-width: 2560px) and (max-width: 3440px) { 
    .video-container {
    width: 1000px;
    position: absolute;
    top: 20vh;
    right: 28vw; /* left, bottom se quiser mudar */
    }
   }
    
@media (min-width: 3440px) { 
    .video-container {
    width: 1000px;
    position: absolute;
    top: 20vh;
    right: 35vw; /* left, bottom se quiser mudar */
  }
 }

.sidebar-esquerda{
    position: absolute;
    z-index: 10; /* menor valor = fica atr치s */
    top: 2vh;
    background-color: #2B3035;
    
}

#PrimeiroTitulo{
    font-size: 5vmin;
    font-family: "SpaceGrotesk";
    position: absolute;
    top: 10%;
    width: 110vw;
    text-align: center;
}



#Explicacao{
    font-size: 2.5vmin;
    position: relative;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    top: 60vh;
    margin-top: 10rem;
    margin-left: 12vw;
    margin-right: 5vw;
    text-align: center;
    font-family: "SpaceGrotesk";
    
}

@media (max-width: 1024px) {
    #Explicacao{        
    font-size: 3vmin;
    position: relative;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    top: 40vh;
    margin-top: 10rem;
    margin-left: 18vw; /* margem menor */
    margin-right: 5vw;
    margin-bottom: 50vh;
    text-align: center;   
    }
}

@media (max-width: 768px) {
    #Explicacao{        
    font-size: 4vmin;
    position: relative;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    top: 30vh;
    margin-top: 10rem;
    margin-left: 18vw; /* margem menor */
    margin-right: 5vw;
    margin-bottom: 30vh;
    text-align: center;   
    }
}


#toggleTheme{
    margin-top: 2vh;
}

#Comentarios{
    margin-top: 70vh;
}

@media (max-width: 1028px) {
    #Comentarios{
    font-family: "SpaceGrotesk";
    margin-top: 40vh;
    margin-left: 20vw;
 }
}

@media (min-width: 1366px) and (max-width: 1920px) {
    #Comentarios{
    font-family: "SpaceGrotesk";
    margin-top: 70vh;
    margin-left: 2vw;
 }
}

