:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

html.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.60s ease;

}


.Geral{
    position: relative !important;
    z-index: 999999 !important;
}
.sidebar-esquerda {
    position: absolute;
    z-index: 1; 
    top: 0;
    left: 0;              
    width: 120px;         
    height: 250vh;        
    margin-right: 22vw;
    background-color: #212529; 
    padding: 20px;
    overflow-y: auto;     
    
}

.sidebar-esquerda{
    position: absolute;
    z-index: 10; 
    top: 2vh;
    background-color: #2B3035;
    
}

@media (max-width: 768px) {
    .sidebar-esquerda {
    position: absolute;
    z-index: 1; 
    top: 0;
    left: 0;              
    width: 90px;         
    height: 300vh;        
    margin-right: 22vw;
    background-color: #212529; 
    padding: 20px;
    overflow-y: auto;     
    }

}

@media (max-width: 980px) {
    .sidebar-esquerda {
    position: absolute;
    z-index: 1; 
    top: 0;
    left: 0;              
    width: 90px;         
    height: 310vh;        
    margin-right: 22vw;
    background-color: #212529; 
    padding: 20px;
    overflow-y: auto;     
    }



}

.video-container {
    position: absolute;
    width: 50vw;
    top: 20vh;
    right: 20vw; 
    margin: 0 0 2rem 0;
    
}
@media (max-width: 480px) {
    .video-container {
    width: 70vw;
    position: absolute;
    top: 20vh;
    right: 7vw; 
    margin: 0 0 2rem 0;
    }
}

@media (max-width: 768px) {
    .video-container {
    width: 70vw;
    position: absolute;
    top: 20vh;
    right: 7vw; 
    margin: 0 0 2rem 0;
    }
}

@media (max-width: 1024px) { 
    .video-container {
    width: 70vw;
    position: absolute;
    top: 20vh;
    right: 8vw; 
    margin: 0 0 2rem 0;
    }
 }

 @media (min-width: 1024px) and (max-width: 1366px) { 
    .video-container {
    width: 70vw;
    position: absolute;
    top: 20vh;
    right: 12vw; 
    margin: 0 0 2rem 0;
    }
  }

  @media (min-width: 1366px) and (max-width: 1920px) { 
    .video-container {
    width: 900px;
    position: absolute;
    top: 20vh;
    right: 15vw; 
    }
   }
@media (min-width: 1920px) and (max-width: 2560px) { 
    .video-container {
    width: 1000px;
    position: absolute;
    top: 20vh;
    right: 18vw; 
    } 
   }

@media (min-width: 1780px){
    .video-container {
    width: 950px;
    position: absolute;
    top: 20vh;
    right: 20vw; 
    } 
   }

@media (min-width: 2560px) and (max-width: 3440px) { 
    .video-container {
    width: 1000px;
    position: absolute;
    top: 20vh;
    right: 28vw; 
    }
   }
    
@media (min-width: 3440px) { 
    .video-container {
    width: 1000px;
    position: absolute;
    top: 20vh;
    right: 35vw; 
  }
 }


#PrimeiroTitulo{
    font-size: 5vmin;
    font-family: "SpaceGrotesk";
    position: absolute;
    top: 10%;
    width: 110vw;
    text-align: center;
}



#Explicacao{
    font-size: 2.5vmin;
    position: relative;
    z-index: 2;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    top: 60vh;
    margin-top: 10rem;
    margin-left: 12vw;
    margin-right: 5vw;
    text-align: center;
    font-family: "SpaceGrotesk";
    
}

@media (max-width: 1024px) {
    #Explicacao{        
    font-size: 3vmin;
    position: relative;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    top: 40vh;
    margin-top: 10rem;
    margin-left: 18vw; 
    margin-right: 5vw;
    margin-bottom: 50vh;
    text-align: center;   
    }
}

@media (max-width: 768px) {
    #Explicacao{        
    font-size: 4vmin;
    position: relative;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    top: 30vh;
    margin-top: 10rem;
    margin-left: 18vw; 
    margin-right: 5vw;
    margin-bottom: 30vh;
    text-align: center;   
    }
}

#toggleTheme{
    margin-top: 80vh;
}

#toggleTheme.inicio{
    margin-top: 80vh;
    position: fixed;
    transition: all 0.4s ease;
}

#toggleTheme.movido {
  position: fixed;
  top:0;
  margin-top: 12px;
  transition: all 0.4s ease;
}

#ThePretender{
    position: fixed;
    width: 100px;
    margin-top: 2vh;
}

#BestOfYou{
    position: fixed;
    width: 100px;
    margin-top: 10vh;
}

#LearnToFly{
    position: fixed;
    width: 100px;
    margin-top: 18vh;
}


#TimesLikeThese{
    position: fixed;
    width: 100px;
    margin-top: 26vh;
}

#MyHero{
    position: fixed;
    width: 100px;
    margin-top: 34vh;
}
#Everlong{
    position: fixed;
    margin-top: 39.5vh;
}


@media (max-width: 768px) {
    #ThePretender{
    width: 80px;
    font-size: 8pt;
    margin-top: 2vh;
    
   }   
       #TimesLikeThese{
       width: 80px;
       margin-top: 8vh;
       font-size: 8pt;
    }
    
    #LearnToFly{
        width: 80px;
        margin-top: 14vh;
        font-size: 8pt;
    }
    
    #BestOfYou{
        width: 80px;
        margin-top: 20vh;
        font-size: 8pt;
    }
    #MyHero{
        width: 80px;
    margin-top: 26vh;
    font-size: 8pt;
    }
    #Everlong{
    margin-top: 30.5vh;
    font-size: 8pt;
    }

}

@media (max-width: 980px) {
    #ThePretender{
    width: 80px;
    font-size: 8pt;
    margin-top: 2vh;
    
   }   
       #TimesLikeThese{
       width: 80px;
       margin-top: 8vh;
       font-size: 8pt;
    }
    
    #LearnToFly{
        width: 80px;
        margin-top: 14vh;
        font-size: 8pt;
    }
    
    #BestOfYou{
        width: 80px;
        margin-top: 20vh;
        font-size: 8pt;
    }
    #MyHero{
        width: 80px;
    margin-top: 26vh;
    font-size: 8pt;
    }
    #Everlong{
    margin-top: 30.5vh;
    font-size: 8pt;
    }

}

#Bruno{
    font-size: 11pt;
    width: 82px;
    position: fixed;
    margin-top: 88vh;
}

#Comentarios{
    margin-top: 70vh;
}

@media (max-width: 1028px) {
    #Comentarios{
    font-family: "SpaceGrotesk";
    margin-top: 40vh;
    margin-left: 20vw;
 }
}

@media (min-width: 1366px) and (max-width: 1920px) {
    #Comentarios{
    font-family: "SpaceGrotesk";
    margin-top: 70vh;
    margin-left: 2vw;
 }
}

.sidebar-esquerda{
    position: absolute;
    z-index: 10; 
    top: 2vh;
    background-color: #2B3035;
    
}

#guitar-rain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.guitar {
  position: absolute;
  font-size: 24px;
  opacity: 0.25;
  animation: fall-diagonal linear infinite;
}

@keyframes fall-diagonal {
  0% {
    transform: translate(100vw, -10vh) rotate(0deg);
  }
  100% {
    transform: translate(-20vw, 110vh) rotate(360deg);
  }
}
